.contenedor{
    margin-left: 0px;
}
.bandera1{
    width: 200px;
    height: 350px;
    display: inline-block;
}
.azul{
    background-color: blue;
}
.blanco{
    background-color: white;
}
.rojo{
    background-color: crimson;
}
.cont{
    margin-left: 0px;
}
.bandera2{
    width: 200px;
    height: 350px;
    display: inline-block;
}
.verde{
    background-color: darkgreen;
}
